.button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-2);
    padding: var(--size-1) calc(var(--size-2) * 2);
    border-radius: var(--radius-full);
    border: 2px solid var(--color-line);
    font-weight: 700;
    font-family: var(--font-secondary);
    font-size: var(--font-size-1);
    transition: var(--transition-1);
}

.button:hover,
.button:focus {
    border: 2px solid var(--color-main);
    background-color: var(--color-main-transparent);
}
