*,
*::before,
*::after {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100dvh;
    background-color: var(--color-background);
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: var(--font-main);

    main {
        flex: 1;
        border-right: 1px solid var(--color-line);
        border-left: 1px solid var(--color-line);
        padding: var(--size-4);
        max-width: 1720px;
        align-self: center;
        width: 100%;
    }
}

a,
p,
h1,
h2,
h3,
h4,
h5,
li,
label {
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
li {
    font-family: var(--font-main);
}

p,
span {
    font-size: var(--font-secondary);
}

button {
    border: 1px solid var(--color-line);
    outline: none;
    color: var(--color-text);
    background-color: var(--color-background);
}

button:hover {
    cursor: pointer;
}

.material-symbols-rounded {
    color: var(--color-text-dimmed);
    font-variation-settings:
        "FILL" 0,
        "wght" 100,
        "GRAD" 0,
        "opsz" 24;
}
