@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors */
    --color-main: #00bbf9;
    --color-main-light: #90e0ef;
    --color-main-dark: #005f73;
    --color-main-transparent: #00bbf933;

    /* --color-secondary: #810ca8; */
    --color-secondary: #f15bb5;
    --color-secondary-light: #c77dff;
    --color-secondary-dark: #240046;
    --color-secondary-transparent: #f15bb522;

    --color-special: #06d6a0;

    --color-background: #e0e1dd;
    --color-text: #062726;
    --color-text-dimmed: #343a40;

    --color-line: rgba(0, 0, 0, 0.2);

    --color-error: #800e13;
    --color-error-bright: #da2c38;
    --color-error-dimmed: #38040e;

    --color-success: #00c49a;
    --color-success-bright: #b7e4c7;
    --color-success-dimmed: #1b4332;
    --color-success-transparent: #00c49a33;

    /* Sizes */
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-8: 2rem;
    --size-10: 2.5rem;
    --size-12: 3rem;
    --size-16: 4rem;
    --size-18: 5rem;

    /* Rounding */
    --radius-none: 0px;
    --radius-sm: 0.125rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-full: 999px;
    --radius-total: 50%;

    /* Font Families */
    --font-main: "Google Sans", sans-serif;
    --font-secondary: "Raleway", sans-serif;
    --font-special: "Dancing Script", cursive;

    /* Font Sizes */
    --font-size-mini: 0.68rem;
    --font-size-1: 0.72rem;
    --font-size-2: 1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.8rem;
    --font-size-6: 2.25rem;
    --font-size-7: 4rem;
    --font-size-8: 6rem;

    /* Icon Sizes */
    --icon-size-1: 1rem;
    --icon-size-2: 1.5rem;
    --icon-size-3: 2rem;
    --icon-size-4: 2.25rem;
    --icon-size-5: 3rem;
    --icon-size-6: 4rem;
    --icon-size-7: 5rem;

    /* Shadows */
    --shadow-1: 0px 0px 3px rgba(0, 0, 0, 0.2);
    --shadow-2: 0px 0px 3px rgba(0, 0, 0, 0.4);
    --shadow-3: 0px 0px 3px rgba(0, 0, 0, 0.6);
    --shadow-4: 0px 0px 3px rgba(0, 0, 0, 0.8);

    /* General Transitions */
    --transition-1: all 300ms ease-in-out;

    /* Gradients */
    --gradient-main-colors: linear-gradient(
        45deg,
        var(--color-main-light),
        var(--color-secondary-light)
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --color-background: #0b090a;
        --color-text: #f6f7f8;
        --color-text-dimmed: #b4bcc7;

        /* --color-line: #343a40; */
        /* --color-line: #343a4080; */
        --color-line: rgba(255, 255, 255, 0.125);

        /* Gradients */
        --gradient-main-colors: linear-gradient(
            45deg,
            var(--color-main),
            var(--color-secondary)
        );
    }
}
